header{
  display: block;
  box-sizing: border-box;
}
body {
    margin: 0;
  }     
.container_1{
    display: flex;
justify-content: space-between;
background-color: white;
height: 76px;
max-height: 76px;
padding: 5px;


}

.logoImage{
flex: 1;
display: flex;
align-items: center;
margin-left: 15px;
    
}

.navPages{  
    flex: 4;
    display: flex;
   justify-content: center;
   align-items: center;
 font-size: 1.5rem;
   margin-left: 5px;
   margin-right: 5px;
   font-family: 'Kaushan Script';
}
.navPages a{
text-decoration: none;
color: palevioletred;
margin-left: 15px;
}

.navPages a:hover{
transition:0.5s ease-in-out;
color: black;
}

.phoneNum{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
font-family: 'Kaushan Script';
font-size: 16px;

}

.cartDiv{
flex: 1;
padding:20px;
justify-content: center;
vertical-align: middle;
display: flex;

}

.cartButton{
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius:5px;
    border: 1px solid black;
    flex-direction: row;
      
 
}

.cartDiv :hover{
    background-color: rgb(247, 162, 176);
    color: white;
    border: 0;
}
.container_2{
display:flex;
flex-wrap: wrap;
flex-direction: column;
background-image:url(cake.jpg);
 background-repeat: no-repeat;
 background-size:cover;
min-height: 100vh;
justify-content: center;
justify-items: center;
box-sizing: border-box;
align-items: center !important;
/* background-image: linear-gradient(rgba(249, 228, 148, 0.5),rgba(249, 228, 148, 0.5)); */

}


.container_3{
  display: flex;
 flex-direction: column;
}
.container_3 h1{
  justify-content: center !important;
  vertical-align: middle !important;
  font-family:'Kaushan Script';
  color: white;
  font-size: 2.5rem;

}
.container_3 h1 strong{
color: pink;
font-size: 4rem;
}
.container_3 a{
  font-family:'Kaushan Script';
  justify-content: center !important;
  justify-items: center !important;
  justify-self: center !important;
  color: black;
  border: 0.2rem solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
 padding: .375rem .75rem;;
 line-height: 1.5;
 border-radius: .25rem;
 margin-left: auto;
 margin-right: auto;
}
.container_3 a:hover{
color: pink;
background-color: black;


}
.container_4{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-top: 3rem ;
padding-bottom:3rem ;
}

.aboutUs{
flex: 1;
margin-bottom: auto;
display: flex;
flex-direction: column;
margin-left: 10%;
margin-right: auto;
margin-top: auto;

}

.aboutUs h1{
  font-size: 2.5rem;  
  text-align: center;
  font-family:'Kaushan Script';
  color: black;
  width: 75%;
  text-align: center;
} 


.aboutUs p{
  margin-top: auto;
  text-align: left;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem ;
  color: #6c757d ;
  font-family:'Kaushan Script';
  
  } 


  .aboutUs strong{
  color: pink;
  font-size: 4rem;
  }

  .aboutUs a{

    font-family:'Kaushan Script';
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: .375rem .75rem;;
    line-height: 1.5;
    border-radius: .25rem;
margin-left: 25%;
margin-right: auto;

    } 

    .aboutUs a:hover{

      color: pink;
      background-color: black;
    } 

    .aboutUsImg{
      flex: 1;
      margin-left: auto;
      margin-right: 10%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;

    }

    
    .aboutUsImg img{
      max-width: 100%;
      
    }
    
  
