body {
    margin: 0;
  }     



.container_1{
    display: flex;
justify-content: space-between;
background-color: white;
height: 76px;
max-height: 76px;
padding: 5px;

}

.logoImage{
flex: 1;
display: flex;
align-items: center;
margin-left: 15px;
    
}

.navPages{  
    flex: 4;
    display: flex;
   justify-content: center;
   align-items: center;
 font-size: 1.5rem;
   margin-left: 5px;
   margin-right: 5px;
   font-family: 'Kaushan Script';
}


.navPages a{
text-decoration: none;
color: #ef7998;
margin-left: 15px;
}

.navPages a:hover{
transition:0.5s ease-in-out;
color: black;
}

.phoneNum{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
font-family: 'Kaushan Script';
font-size: 16px;

}

.cartDiv{
flex: 1;
padding:20px;
justify-content: center;
vertical-align: middle;
display: flex;

}

.cartButton{
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius:5px;
    border: 1px solid black;
    flex-direction: row;
      
 
}

.cartDiv :hover{
    background-color: rgb(247, 162, 176);
    color: white;
    border: 0;
}



.container_2{
display:flex;
flex-wrap: wrap;
flex-direction: column;
background-image:url(cake.jpg);
 background-repeat: no-repeat;
 background-size:cover;
min-height:100vh;
justify-content: center;
justify-items: center;
box-sizing: border-box;
align-items: center !important;
background-attachment: fixed;
}


.container_3{
  display: flex;
 flex-direction: column;
}



.container_3 h1{
  justify-content: center !important;
  vertical-align: middle !important;
  font-family:'Kaushan Script';
  color: white;
  font-size: 2.5rem;

}



.container_3 h1 strong{
color: #ef7998;
font-size: 4rem;
}



.container_3 a{
  font-family:'Kaushan Script';
  justify-content: center !important;
  justify-items: center !important;
  justify-self: center !important;
  color: black;
  border: 0.2rem solid black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
 padding: .375rem .75rem;;
 line-height: 1.5;
 border-radius: .25rem;
 margin-left: auto;
 margin-right: auto;
}




.container_3 a:hover{
color: #ef7998;
background-color: black;
}




.container_4{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-top: 3rem ;
padding-bottom:3rem ;

}


.aboutUs{
flex: 1;
margin-bottom: auto;
display: flex;
flex-direction: column;
margin-right: auto;
margin-top: auto;
margin-left: auto;

}

.aboutUs h1{
  font-size: 2.5rem;  
  text-align: center;
  font-family:'Kaushan Script';
  color: black;
  width: 55%;
  text-align: center;
} 


.aboutUs p{
  margin-top: auto;
  text-align: left;
  width: 75% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem ;
  color: #6c757d ;
  font-family:'Kaushan Script';
  
  } 


  .aboutUs strong{
  color: #ef7998;
  font-size: 4rem;
  }

  .aboutUs a{

    font-family:'Kaushan Script';
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: .375rem .75rem;;
    line-height: 1.5;
    border-radius: .25rem;
    margin-left: 12%;
    margin-right: auto;
    } 
    
    
    .aboutUs a:hover{

      color: #ef7998;
      background-color: black;
    } 


    .ImageContainer{
      display: flex;
      flex: 1;
      }
      

    .aboutUsImg{
      flex: 1;
      justify-content: center;
      display: flex;
      border: .5rem solid rgb(241, 213, 53);
      align-self: center;
    }

    
    .aboutUsImg img{
      max-width: 85%;
      height: auto;

    }


    .ourStore{
      display: flex;
      padding-top: 15px;
      background: #eeeeee;
      flex-direction: column;
    }

    .ourStore_header{
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  justify-items: center;
    }

    .ourStore_header h1{
      flex: 1;
      margin-top: auto;
      text-align: center;
      width: 75% !important;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5rem ;
      color: #6c757d ;
      font-family:'Kaushan Script';
      
      } 
    
    
      .ourStore_header strong{
      color: #ef7998;
      font-size: 4rem;
      }


    .ourStore_Category{
   flex-direction: column;
  display: flex;
  justify-content:center;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 10px;
      }

      .ourStore_Category a{
      font-family:'Kaushan Script';
      color: black;
      border: 1px solid black;
      text-decoration: none;
      padding: .375rem .75rem;;
      line-height: 1.5;
      border-radius: .25rem;
      }


      .ourStore_Category a:hover{

        color: #ef7998;
        background-color: black;
      } 

      .ourStore_Search{
     display: flex;
     justify-content: space-around;
  
      }



      .searchBar{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        margin-top: 10px;
      }

      .searchBar i{
        padding: 12px 12px 12px 12px ;
        background-color: #ef7998;
        border-radius: .25rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -1px;

      }
    

      .searchBar input{
        border-radius: .25rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: .375rem .75rem;  
        width: 35%;
        font-family:'Kaushan Script';
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        border: 1px solid #ced4da;
      }


    



      .searchBar input:focus{
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
      }



    .shopItems_section{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 50px;
  
    }


     .shopItems{
      width: 320px;
      height: 330px;
      margin: 10px;
  
      }


.card{
  display: flex;
  flex-direction: column;

      } 

.shopItems_Img{
 height: 250px;
width: 100%;
 background-image: url(sweets-1.jpeg);
 background-size: cover;
 vertical-align: middle;
 
} 

.shopItems_Des{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: white;
padding-left: 15px;
padding-right: 15px;
text-align: center;
vertical-align: middle;
padding-top: 5px;
padding-bottom: 5px;


}

.shopItems_Des h5{
  font-size: 1.25rem;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-family:'Kaushan Script';
  
}





    



